.home{
    float: right;
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 252, 255);
    width: calc(100% - 258px);
    font-family: 'Lato', sans-serif;
}

.home__block__one{
    display: flex;
    justify-content: space-evenly;
}