.home{
    float: right;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: calc(100% - 258px);
    font-family: 'Lato', sans-serif;
}

.home__block__one{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 50px;
    
}

@media screen and (max-width: 850px) {
    .home{
    width: 100%;
    }

    .home__block__one{
        flex-direction: column;
        align-items: center;
    
    }
}

.home__left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}