.footer{
    float: right;
    display: flex;
    position: fixed;
    bottom: 0px;
    justify-content: space-around;
    background-color: rgb(253, 252, 255);
    height: 40px;
    align-items: center;
    border-top: 1px solid rgb(216, 217, 226);
    width: 100%;
    font-family: 'Lato', sans-serif;
    z-index: 0;
}